<div class="album-info">
		<table>
		<tbody>
			<tr>
				<td><button class="btn btn-primary queue-add">Add</button>
						<button class="btn btn-info show-tracks">Tracks</button>
				</td>

				<td><h3 class="album-title"> <%= album.attributes.title %> by </h3></td>
				<td><h3 class="album-artist"><%= album.attributes.artist %></h3></td>
		</tr>
		</tbody>
  </table>

</div>