<img src="<%= album.attributes.image_url %>" width="200" height="200" alt="<%= album.attributes.title %>" class="album-image shadowed" />


<div class="album-info">
  <h3 class="title"><%= album.attributes.title %></h3>
</div>