<!DOCTYPE html>
<html>
<head>
  <title>TunesBackbone</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css"> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

</head>
<body>
    <div id="wrapper">
      <section id="player">Player</section>
      <section id="content">Hi</section>
    </div>
<%= yield %>

	<%= javascript_include_tag "application" %>  
</body>
</html>
